.domino {
    position: absolute;
}
.r90 {
    -webkit-transform:  rotate(90deg);
    -moz-transform:     rotate(90deg);
    -o-transform:       rotate(90deg);
    -ms-transform:      rotate(90deg);
    transform:  rotate(90deg);    
}
.r180 {
    -webkit-transform:  rotate(180deg);
    -moz-transform:     rotate(180deg);
    -o-transform:       rotate(180deg);
    -ms-transform:      rotate(180deg);
    transform:  rotate(180deg);    
}
.r270 {
    -webkit-transform:  rotate(270deg);
    -moz-transform:     rotate(270deg);
    -o-transform:       rotate(270deg);
    -ms-transform:      rotate(270deg);
    transform:  rotate(270deg);    
}

.doubleTip {
    border-radius: 10px;
    box-shadow: 0 0 2px 4px #06F;
}
.leftTip, .rightTip {
    border-radius: 10px;
    box-shadow: 0 0 2px 4px #0A0;
}

.scores {
    font-size: large;
    width: 10em;
    /*margin-bottom: 10px;*/

}

.tipSum {
    position: absolute;
    width: 38px;
    height: 38px;
    /*box-shadow: 0 0 2px 4px #0A0;*/
    margin-left: 10px;
    margin-top: 2px;
    font-size: xx-large;
    text-align: right;
    padding: 3px;
}

.lineUp {
    color: lightgreen;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 2px 4px #0A0;
}

.flip {
    /*background-color: blue;*/
    /*opacity: 0.4;*/
    position: absolute;
    font-family: cursive;
    top: -8px;
    left: 8px;
}

.outermost {
    position: relative;
}

.boneStyle {
    position: relative;
    margin: 20px;
}

.startBox {
    position: absolute;
    border-radius: 20px;
    border: 2px dotted green ;
    top: 162px;
    left: 234px;
    width: 36px;
    height: 36px;
}


input[type="radio"] {
    display:none;
}


input[type="radio"] + label .radbut {
    display:inline-block;
    width:15px;
    height:15px;
    margin: -2px 4px 1px 4px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border-style: solid;
    border-color: lightgreen;
    color: lightgreen;
}


input[type="radio"]:checked + label .radbut {
    /* This makes the styled button function. */
     background-color:#0A0;
}

