div {
    position: absolute;
}
.r90 {
    -webkit-transform:  rotate(90deg);
    -moz-transform:     rotate(90deg);
    -o-transform:       rotate(90deg);
    -ms-transform:      rotate(90deg);
    transform:  rotate(90deg);    
}
.r180 {
    -webkit-transform:  rotate(180deg);
    -moz-transform:     rotate(180deg);
    -o-transform:       rotate(180deg);
    -ms-transform:      rotate(180deg);
    transform:  rotate(180deg);    
}
.r270 {
    -webkit-transform:  rotate(270deg);
    -moz-transform:     rotate(270deg);
    -o-transform:       rotate(270deg);
    -ms-transform:      rotate(270deg);
    transform:  rotate(270deg);    
}

.doubleTip {
    border-radius: 10px;
    box-shadow: 0 0 2px 4px #06F;
}
.leftTip, .rightTip {
    border-radius: 10px;
    box-shadow: 0 0 2px 4px #0A0;
}

p {
    color: white;
    font-size: large;
}

.outermost {
    position: relative;
}

.startBox {
    border-radius: 20px;
    border: 2px dotted green ;
    top: 162px;
    left: 234px;
    width: 36px;
    height: 36px;
}
