div {
    position: absolute;
}
.r90 {
    -webkit-transform:  rotate(90deg);
    -moz-transform:     rotate(90deg);
    -o-transform:       rotate(90deg);
    -ms-transform:      rotate(90deg);
    transform:  rotate(90deg);    
}
.r180 {
    -webkit-transform:  rotate(180deg);
    -moz-transform:     rotate(180deg);
    -o-transform:       rotate(180deg);
    -ms-transform:      rotate(180deg);
    transform:  rotate(180deg);    
}
.r270 {
    -webkit-transform:  rotate(270deg);
    -moz-transform:     rotate(270deg);
    -o-transform:       rotate(270deg);
    -ms-transform:      rotate(270deg);
    transform:  rotate(270deg);    
}
.bordertest2 {
    border-style: solid;
    border-width: 5px;
    border-top-color: red;
    border-bottom-color: orange;
}
.bordertest {
    border-style: solid;
    border-left-color: blue;
    border-right-color: green;
    border-top-color: red;
    border-bottom-color: yellow;
    border-width: 3px;
}
.leftTip {
    border-style: solid;
    border-left-color: green;
    border-top-color: yellow;
    border-bottom-color: yellow;
    border-width: 3px;
}
.rightTip {
    border-style: solid;
    border-right-color: green;
    border-top-color: yellow;
    border-bottom-color: yellow;
    border-width: 3px;
}
.doubleTip {
    border-style: solid;
    border-left-color: green;
    border-right-color: green;
    border-top-color: yellow;
    border-bottom-color: yellow;
    border-width: 3px;
}
